In [ ]:
import requests
import pandas as pd
import time

In [ ]:
API_KEY = "AIzaSyDkH4sKTgYsziNiMk0FrRho_BpYl-S4ZZM"
#to get this key use the link
# https://www.youtube.com/watch?v=N18czV5tj5o

CHANNEL_ID = "UCmMGlb7mGXYVthrXYSwlQhw"
#https://www.youtube.com/channel/UCmMGlb7mGXYVthrXYSwlQhw
#https://www.youtube.com/channel/UCxmkk8bMSOF-UBF43z-pdGQ

In [ ]:
pageToken = ""
url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=1000"+pageToken

response=requests.get(url).json()

In [ ]:
video_id = response['items'][0]['id']['videoId']

In [ ]:
video_id

'pLBVT2e7sS8'

In [ ]:
response['items'][0]

{'kind': 'youtube#searchResult',
 'etag': '5iwF9vIR4qnWa4IKB5rUIjuRV5k',
 'id': {'kind': 'youtube#video', 'videoId': 'pLBVT2e7sS8'},
 'snippet': {'publishedAt': '2022-08-14T14:06:41Z',
  'channelId': 'UCmMGlb7mGXYVthrXYSwlQhw',
  'title': 'answering uncomfortable questions from you guys',
  'description': 'Check out Athletic Greens to start your healthy lifestyle today!: http://www.athleticgreens.com/jomanyc Instagram: ...',
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/pLBVT2e7sS8/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/pLBVT2e7sS8/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/pLBVT2e7sS8/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'Joma in NYC',
  'liveBroadcastContent': 'none',
  'publishTime': '2022-08-14T14:06:41Z'}}

In [ ]:
for video in response['items']:
  if video['id']['kind']=='youtube#video':
    video_id = video['id']['videoId']
    video_title = video['snippet']['title']
    upload_date = video['snippet']['publishedAt']
    upload_date = str(upload_date).split('T')[0]#makes sure that we are only left with the date and no timestamp


#print(video_id)
#print(video_title)
#print(upload_date)

bdUVehx6UBU
My NYC Apartment tour | $3,000/month for 1 bedroom
2021-05-16

##2nd API call

In [ ]:
video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&channelId="+CHANNEL_ID+"&part=statistics&key="+API_KEY
response_video_stats = requests.get(video_stats).json()

In [ ]:
response_video_stats['items']

[{'kind': 'youtube#video',
  'etag': 'b1blw2G0xOujq1b6pr26eWdAJos',
  'id': 'bdUVehx6UBU',
  'statistics': {'viewCount': '2805861',
   'likeCount': '94628',
   'favoriteCount': '0',
   'commentCount': '4442'}}]

In [ ]:
likes = response_video_stats['items'][0]['statistics']['likeCount']
dislike = response_video_stats['items'][0]['statistics']['commentCount']
views = response_video_stats['items'][0]['statistics']['viewCount']

#building a dataframe to store the results

In [ ]:
df = pd.DataFrame(columns=["video_id","video_title","upload_date","likes","dislikes","views"])

In [ ]:
for video in response['items']:
  if video['id']['kind']=='youtube#video':
    video_id = video['id']['videoId']
    video_title = video['snippet']['title']
    upload_date = video['snippet']['publishedAt']
    upload_date = str(upload_date).split('T')[0]#makes sure that we are only left with the date and no timestamp


    #second API CALL
    video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&channelId="+CHANNEL_ID+"&part=statistics&key="+API_KEY
    response_video_stats = requests.get(video_stats).json()
    response_video_stats['items']

    likes = response_video_stats['items'][0]['statistics']['likeCount']
    dislike = response_video_stats['items'][0]['statistics']['commentCount']
    views = response_video_stats['items'][0]['statistics']['viewCount']

    #SAVE IN PANDAS
    df = df.append({'video_id':video_id,'video_title':video_title,'upload_date':upload_date,'likes':likes,'dislike':dislike,'views':views},ignore_index=True)

In [ ]:
    df.tail()

,video_id,video_title,upload_date,likes,dislikes,views,dislike
15,MGGhz29kYYA,what I eat in a day | living alone in nyc,2021-06-29,14179,NaN,337400,1186
16,gtXpRZUAc1o,first time leaving my apartment to go outside ...,2021-06-21,18335,NaN,459982,745
17,pF2mNC4EXfA,a productive weekend in my life (cooking + wri...,2021-06-12,18120,NaN,362914,797
18,VnIsuYVlSls,why I moved to new york city,2021-06-05,29830,NaN,612968,1648
19,bdUVehx6UBU,"My NYC Apartment tour | $3,000/month for 1 bed...",2021-05-16,94628,NaN,2805869,4442